.DS_Store
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/keystore.credentials.local
android/app/upload-keystore.jks
android/**/GeneratedPluginRegistrant.java
